# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js


# Testing
/coverage

# Production
/build
/dist
/out
/.next/

# User Uploads (Galleries, etc)
/uploads/
/uploads/**

# Sensitive and Environment
.env
.env.*
*.env
*.bak
*.old
credentials.json
secrets.json

# IDE - VS Code
.vscode/
.history/

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pip-log.txt

# OS specific files
.DS_Store
.DS_Store?
._*
Thumbs.db

# Misc
*.tmp
*.bak
*.orig
*.generated.*

# TypeScript
*.tsbuildinfo
inline-critical-css.js