body,
#root {
  min-width: 100vw;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  min-width: 100vw;
  max-width: 100vw;
}

@media (max-width: 1200px) {
  #root {
    flex-direction: column;
    align-items: stretch;
    padding: 0;
  }
}

@media (max-width: 900px) {
  #root {
    padding: 0;
  }
  body,
  #root {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  #root {
    padding: 0;
    min-width: 100vw;
    max-width: 100vw;
  }
  body,
  #root {
    font-size: 14px;
  }
  .account-card,
  .auth-form-modal-form {
    padding: 18px 6px 16px 6px !important;
    max-width: 100vw !important;
    border-radius: 0 !important;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
